{
    "local": "http://localhost:3001",
    "raspberryLocal": "http://raspberrol:3001",
    "raspberryLAN": "http://192.168.1.232:3001",
    "raspberryCloud": "https://your-tunnel-id.trycloudflare.com"
}
